#imagenFond{
background-image:url(/img/fondoo.webp);
    opacity: 0.6;
    min-height: 40rem;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    ::before{
        display: block;
        content: "";
        z-index: -1;
    }
}


.formasDeComprar{
    @include flex-row-center;
    align-items: center;
    
    font-size: 1.8rem;
    text-align: center;
    padding: .6rem;
    height: 30rem;
    h1,h2{
        color: rgb(255, 204, 0);
    }
    p{
        color: rgb(0, 0, 0)
    }
}


.ofertasSemana{
    @include flex-colum-center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(255, 179, 0, 0.932), rgba(225, 255, 0, 0.794));
    width: 30rem;
    height: 10rem;
    margin: 0 auto;
    border-radius: 6rem;
    box-shadow: 0 .5rem 1rem -.5rem;
    h2,p{
        font-size: 1.5rem;
    }
}
